@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-brand{
  font-weight: 500;
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.home-page-head{
  margin-top:25%;
  font-family: 'Poppins', sans-serif;
  text-align: start;
}

.developers {
  height: 100vh;
}

.nav-link active{
  border: none;
  border-radius: 40px;
  color: white;
  background-color: #9c27b0;
  font-weight: 500;
}

.developers .row .col-sm-3 {
  margin-top: 25%;
}

.devCard {
  margin: auto;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

.developers__title{
  margin-top: 5%;
  margin-bottom: 5%;
}
.devRow {
  display: flex;
  /* margin-bottom: 400px; */
}

.landingText {
  text-align: start;
  padding-top: 20px;
  padding-bottom: 20px;
}

.devCard__body {
  text-align: start;
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.navbar {
  padding: auto ;
}

.navShadow {
  box-shadow:
  0 10.3px 17.9px rgba(0, 0, 0, 0.069);
  margin: 0;
  width: 100%;
}

.footer {
 background-color: #f9d7ff; 
 margin: 0;
 padding: 20px;
 left: 0;
 bottom: 0;
 width: 100%;
}

.phone {
  margin-top: 50px !important;
}