@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-brand{
  font-weight: 500;
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.home-page-head{
  margin-top:25%;
  font-family: 'Poppins', sans-serif;
  text-align: start;
}

/* .home-page {
  height: 89vh;
} */

.developers {
  height: 100vh;
}

.home-page-head button{
  padding: 8px;
  border: none;
  border-radius: 50px;
  background-color: #9c27b0;
  color: white;
}

.nav-link active{
  border: none;
  border-radius: 40px;
  color: white;
  background-color: #9c27b0;
  font-weight: 500;
}

.developers .row .col-sm-3 {
  margin-top: 25%;
}

.devCard {
  margin: auto;
}

.developers__title{
  margin-top: 5%;
  margin-bottom: 15%;
}
.devRow {
  display: flex;
  padding-bottom: 20%;
}

.landingText {
  text-align: start;
  padding-top: 20px;
  padding-bottom: 20px;
}
